.App {
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
  color:white;
}

.App-intro {
  font-size: large;
}

ul {
  list-style: none
}

.modal-content{display:inline-block;}

.modal-content .img{text-align: center}

figure>figcaption {
  display: none;
  visibility: hidden;
}

.modal-dialog{
  overflow-y: initial !important
}
.modal-body{
  max-height: 70vh;
  overflow-y: auto;
}

.news-item, .blank-line-after {
  float: left;
  width:100%;
}